name: Build Optimized Go Binary

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build (Linux/AMD64)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go 1.26.0
        uses: actions/setup-go@v6.1.0
        with:
          go-version: '1.26.0'

      - name: Build Optimized Binary
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: amd64
          GOEXPERIMENT: "greenteagc,jsonv2,nodwarf5,simd"
          GOGC: "1000"
          GOAMD64: v3
          GODEBUG: "thp=1,netdns=go,gctrace=0,madvdontneed=1,tls13=1"
          GOPRIVATE: "codeberg.org/miekg/dns,github.com/quic-go/quic-go,github.com/gorilla/websocket,google.golang.org/grpc,github.com/hashicorp/go-immutable-radix/v2,github.com/davecgh/go-spew,github.com/quic-go/qpack"
          GOPROXY: "https://proxy.golang.org,direct"
        run: |
          go get codeberg.org/miekg/dns@main
          go get github.com/quic-go/quic-go@master
          go get google.golang.org/grpc
          go get github.com/gorilla/websocket@main
          go get github.com/hashicorp/go-immutable-radix/v2@v2
          go get github.com/davecgh/go-spew
          go get github.com/quic-go/qpack@master
          go mod tidy
          go build \
            -pgo=default.pgo \
            -mod=mod \
            -trimpath \
            -tags="netgo,osusergo" \
            -ldflags="-s -w -d -funcalign=16 -linkmode=internal -compressdwarf=false" \
            -o dnscrypt-proxy \
            ./dnscrypt-proxy

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: dnscrypt-proxy-linux-amd64
          path: dnscrypt-proxy
          if-no-files-found: error
          retention-days: 5
